@import '@styles/variable.module.scss';
@import '@styles/mixin.module.scss';

.container {
    @include flex_box_custom(center, center, 20px);

    flex-direction: column;
    background-color: #363636;
    margin-top: 80px;
    color: $white_color;
    padding: 50px 0;

    .boxNav {
        @include flex_box_custom(center, center, 50px);
        font-size: 15px;

        :hover {
            opacity: 0.7;
            cursor: pointer;
        }

        a {
            color: $white_color;
            text-decoration: none;
        }
    }
}

.scrollToTop {
    position: fixed;
    bottom: 40px;
    right: 30px;
    background-color: #333;
    color: white;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.3s ease;
    font-size: 18px;

    &:hover {
        background-color: #555;
    }
}