@import '@styles/mixins.module.scss';
@import '@styles/variables.module.scss';

.container {
    margin-bottom: 20px;
    .label {
        font-size: 14px;
        color: #222;
        margin-bottom: 0.5rem;
    }
    .box {
        width: 100%;
        position: relative;
        input {
            width: 100%;
            padding: 0.5rem;
            border-radius: 4px;
            border: 1px solid #ccc;
            font-size: 14px;
            color: #222;
            &:focus {
                border-color: #333;
                outline: none;
                box-shadow: 0 0 5px rgba(#333, 0.5);
            }
            &::placeholder {
                color: #aaa;
            }
        }
        .boxIcon {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            font-size: 16px;
            color: #aaa;
            cursor: pointer;
        }
    }
   
}
