@import '@styles/mixins.module.scss';
@import '@styles/variables.module.scss';

.boxImage{
    width: 300px;
    height: 353px;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .showImgWhenHover{
        opacity: 0;
        position: absolute;
        inset: 0;
        transition: 0.3s;
    }
    &:hover .showImgWhenHover{
        opacity: 1;
        z-index: 100;
    }
    &:hover .showFunctionWhenHover{
        opacity: 1;
        right: 10%;
    }
    .showFunctionWhenHover{
        position: absolute;
        opacity: 0;
        bottom: 10%;
        right: -20px;
        z-index: 101;
        background-color: rgba(255, 255, 255,0.7);
        transition: 0.3s;
    }
    .boxIcon{
        width: 40px;
        height: 40px;
        @include flex_box_custom(center,center,0px);
        img{
            width: 17px;
            height: 17px;
        }
        &:hover {
            background-color: #ccc;
        }
    }
}
.title{
    font-size: 16px;
    color: #222;
    margin: 6px 0;
}
.price{
    font-size: 14px;
    color: #555;
    font-weight: 400;
}
